.header{
    text-align: center;
    height: 200px;
    align-content: center;
    background-image: url('./images/clear-sky.jpg');
    background-size: cover;
    h1{
        color: white;
        font-size: 5em;
    }
}
.inputs{
    border: 1px solid red;
    text-align: center;
}
.figures{
    margin: auto;
    width: 1000px;
    figcaption{
        text-align: center;
    }
}
blockquote{
    font-size: 2em;
}
.response{
    border: 1px solid red;
}
.answer{
    text-align: center;
    align-content: center;
    height: 50px;
}